.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  padding: 92px 24px 96px;
}

.header__menu {
  padding: 44px 0 0 27px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  column-gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: underline;
  text-decoration-thickness: 1px; 
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.header__links-list 
.header__links-list-item:first-child 
.header__link {
  text-decoration: none;
}
 
.header__logo {
  display: block;
  justify-self: center;
  width: 136px;
  height: 106px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  width: 240px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: 0.1px;
}

.address a {
  text-decoration: underline;
  text-decoration-thickness: 1px; 
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
  margin: 5px 26px 2px 0;
}

.cover {
  position: relative;
  height: 757px;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.overlay {
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000; 
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 161px 50px 0px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.24;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  padding-bottom: 0px;
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 121px 50px 0 78px;
}

.cover__description-text {
  justify-self: start;
  align-self: center;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  justify-self: end;
  border: solid 1px;
  padding: 11px 32px 10px 31px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
}

.lots {
  margin-top: 179px;
  padding: 0 24px;
}

.lots__heading {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  margin-top: 27px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px 48px;
}

.card_type_film {
  position: relative;
  background-image: url(/images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  position: relative;
  background-image: url(/images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  position: relative;
  background-image: url(/images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  padding-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px; 
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.about {
  margin-top: 146px;
  padding: 0 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: auto auto;
  gap: 8px 25px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  align-self: end;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  grid-area: 2/2/3/3;
  /* display: flex;
  flex-direction: column;
  gap: 24px; */
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.about__text :first-child {
  margin-bottom: 24px; 
  /* в теории не было, но 
  первый вариант dispaly: flex мне кажется не очень корректным*/
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  padding: 0 50px 88px;
}

.footer__menu {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-decoration-thickness: 1px; 
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
